@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    border: var(--border);
  }

  body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

html.dark {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
}